.title-container {
  padding-top: 10px;
  text-align: center;
  width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
  border: 3px solid white;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
  position: relative;
}


.flex-container {
  display: flex;
  gap: 20px; 
}

.flex-child {
  flex: 1;
}

.controller-img {
  max-width: 80%;       
  height: auto;     
  display: block;     
  margin: 0 auto;  
  padding: 10px; 
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  font-family: 'BodyFont', sans-serif;
  font-size: 20px;
  line-height: 150%;
  padding: 0 40px;
}

footer {
  text-align: center;
}

h2 {
  font-family: 'HeaderFont', serif;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1;
}

@font-face {
  font-family: 'HeaderFont';
  src: url('fonts/sf-atarian-system.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BodyFont';
  src: url('fonts/Intrigora-Medium.ttf') format('opentype');
}

a {
  text-decoration: none;
  color: lightskyblue;
}

.navbar {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  display: flex; 
  justify-content: center;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: lightskyblue
}
