.title-container {
  background-image: url('images/controller.png');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  padding-top: 10px;
  vertical-align: bottom;
}

body {
  background-color: black;
  color: white;
}

h2 {
  font-family: 'HeaderFont', serif;
  font-size: 30px;
}

@font-face {
  font-family: 'HeaderFont';
  src: url('fonts/sf-atarian-system.regular.ttf') format('truetype');
}